.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin/*.beam
rel/example_project
.concrete/DEV_MODE
.rebar
nodes/

*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2

*.dvi
*-converted-to.*

*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

#NO-DEL
*.pdf
